altair==4.1.0
ansi2html 
anyio 
arcgis==1.9.1
argon2-cffi==21.1.0
astor==0.8.1
async-generator==1.10
attrs
Babel
backcall
base58==2.1.0
bleach
blinker==1.4
boto3
botocore
Bottleneck
Brotli
brotlipy==0.7.0
cached-property
cachetools==4.2.4
certifi==2021.10.8
cffi
chardet
charset-normalizer
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
colorama
cryptography
cycler==0.10.0
cypari==2.4.1
dash
dash-bootstrap-components==1.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses
debugpy
decorator
defusedxml
entrypoints==0.3
Fiona==1.8.20
Flask
Flask-Compress==1.10.1
fonttools==4.25.0
fsspec
future==0.18.2
FXrays==1.3.5
geomet==0.3.0
geopandas==0.10.2
gitdb
GitPython
h5py
idna
importlib-metadata
ipykernel
ipympl==0.8.2
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
jeepney==0.7.1
Jinja2
jmespath
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-dash
jupyter-dashboards==0.7.0
jupyter-server
jupyter-server-mathjax
jupyterlab==3.0.0
jupyterlab-git==0.30.0
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keyring==21.7.0
kiwisolver
knot-floer-homology==1.1
lasio==0.29
lerc==0.1.0
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service
munch==2.5.0
munkres==1.1.4
nb-conda-kernels
nbclassic
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
networkx==2.6.3
nodejs==0.1.1
notebook
ntlm-auth==1.5.0
numexpr
numpy
oauthlib==3.1.1
olefile
opencv-python==4.5.3.56
optional-django==0.1.0
packaging
pandas==1.3.3
pandocfilters
parso
pexpect
pickleshare
Pillow
plink==2.4
plotly
prometheus-client
prompt-toolkit
protobuf==3.18.1
ptyprocess
pyarrow==5.0.0
pycparser
pydeck==0.7.0
Pygments
pyOpenSSL
pyparsing
pypng==0.0.21
pyproj==3.2.1
pyrsistent
pyshp==2.1.3
PySocks
python-certifi-win32==1.6
python-dateutil
python-snappy==0.6.0
pytz==2021.3
pyzmq
requests
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
retrying==1.3.3
s3fs==0.4.2
s3transfer
scikit-learn
scipy
SecretStorage==3.3.1
Send2Trash
setuptools-scm==6.3.2
Shapely==1.8.0
sip==4.19.13
six
smmap==4.0.0
snappy==3.0.1
snappy-manifolds==1.1.2
sniffio
spherogram==2.0
streamlit==1.1.0
tables==3.6.1
tenacity
terminado
testpath
threadpoolctl
toml==0.10.2
tomli==1.2.1
toolz==0.11.1
tornado
tqdm
traitlets
typing-extensions
tzlocal==3.0
ujson==4.2.0
urllib3==1.26.7
validators==0.18.2
watchdog==2.1.6
wcwidth
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.2
widgetsnbextension
wrapt==1.13.2
zipp
